#nome da pipeline que vai estar executando 
name: CI/CD SEC Pipeline (PHP)

#quando a pipeline irá rodar

#essa trigger está configurada para a pipeline rodar quando houver um push ou pull_request na branch main ou master
on: 
  push:
    branches:
      ["main", "master"] 

  pull_request:
    branches:
      ["main", "master"]
  workflow_dispatch:

jobs:
  snyk-security:
    name: Análise de vulnerabilidades com Snyk
    runs-on: ubuntu-latest
  
  steps:
    - name: Checkout do repositório
      uses: actions/checkout@v4
    
    - name: COnfiguração do PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        tools: composer

    - name: Instalar dependências
      run: composer install --no-interaction --no-progress

    - name: Snyk Security Test
      uses: snyk/actions/php@master
      env:
        Snyk_Token: ${{ secrets.Snyk_Token }}
      with:
        command: test 
